.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}
#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    font-family: sans-serif;
}
div{
    display: block;
    unicode-bidi: isolate;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(dino.png.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}
#cactus {
    width: 20px;
    height: 50px;
    background-image: url(cactus.png.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580PX;
    animation: cactusMov 1s infinite linear;
}
@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    50% {
        top: 50px;
    }    
    100% {
        top: 150px;
    }
}